*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background: lightblue;
	text-align: center;
	min-width: 320px;
}

#container {
	background: #eee;
	margin: 5rem auto;
	max-width: 100rem;
	height: 76rem;
	/* display: flex;
	flex-flow: column; */
}

#description {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.leftTab {
	display: inline-block;
	text-align: right;
	width: 40%;
	padding: 2rem;
	vertical-align: top;
	vertical-align: middle;
	margin-top: -2rem;
}

.rightTab {
	display: inline-block;
	text-align: left;
	width: 48%;
	vertical-align: middle;
}

.input-field {
	height: 5rem;
	width: 30rem;
	padding: 3px;
	margin: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
}

#dropdown {
	height: 4rem;
	width: 15rem;
	padding: 5px;
	margin: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	margin-top: -1rem;
}

#dropbox {
	margin-top: 2rem;
}
input[type='radio'] {
	margin-top: 2rem;
}

input[type='checkbox'] {
	margin-top: 2rem;
}

#check {
	margin-top: 2rem;
}

#comments {
	margin-top: 2rem;
}

#button {
	margin-top: 2rem;
	margin-right: 2rem;
	margin-bottom: 20rem;
}

.input-field-text {
	height: 5rem;
	width: 30rem;
	padding: 3px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
}
#submit {
	padding: 1rem 2rem;
	color: white;
	font-size: 2rem;
	background: lightblue;
	border: 0.1rem solid blue;
}

::placeholder {
	font-size: 1.5rem;
	padding: 0.5rem;
}

@media screen and (max-width: 700px) {
	html {
		font-size: 59%;
	}
}
